<!DOCTYPE html>
<html>
<body>

  <%= partial(:'partials/welcome') %>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= partial(:'partials/errors') %>


<%= yield %>


</body>
</html>
